{% extends "layout.html" %}

{% block pageTitle %}
	DWP Digital Portfolio
{% endblock %}

{% block content %}

<main id="content" role="main">

	<p style="margin-top:30px;">
		Our services, ordered by {{ view }}

		{% if view != 'directorate' %}(<a href="/directorate">order by directorate</a>){% endif %}
		{% if view != 'theme' %}(<a href="/theme">order by theme</a>){% endif %}
		{% if view != 'location' %}(<a href="/location/">order by location</a>){% endif %}
		{% if view != 'priority' %}(<a href="/priority">order by priority</a>){% endif %}
		{% if view != 'health' %}(<a href="/health">order by health</a>){% endif %}
		
	</p>

	<div class="grid-row">
		{% for phase in phase_order %}
			<a href="?phase={{ phase }}">
				<section class="column-fifth">
					<div class="tag {{ phase }}">{{ phase }}</div>
					<div class="big_number txt-{{ phase }}">
						 {{ counts[phase] }}
					</div>
				</section>
			</a>
		{% endfor %}
	</div>

	{% if phase and phase != "all" %}
		Showing projects in {{ phase }} phase. <a href="?phase=all">Show all<a>
	{% endif %}

	{% for name in row_order %}

		{% set item = data[name] %}
		<h2 class="heading-large service-area">{{ name }}</h2>

		{% if view == 'priority' %}
		<p>{{ priority_descriptions[name] }}</p>
		{% endif %}
		
		<div class="grid-row">	
		{% for phase in phase_order %}
			
			<section class="column-fifth">
			{% if item[phase] %}

				{% for bit in item[phase]['user'] %}
				<ul class="link-list border-{{phase}}">
					<li><a href="/projects/{{ bit.id }}/{{ bit.name | slugify }}">{{ bit.name }}</a></li>
				</ul>
				{% endfor %}


				{% for bit in item[phase]['internal'] %}
				<ul class="link-list border-internal">
					<li><a href="/projects/{{ bit.id }}/{{ bit.name | slugify }}">{{ bit.name }}</a></li>
				</ul>
				{% endfor %}

			{% else %}&nbsp;{% endif %}
			</section>

		{% endfor %}
		</div>

	{% endfor %}

</main>

{% endblock %}
